.reset-password {
  background-color: var(--chat-bg-color);
  height: 95vh;
  z-index: 0;
}

.reset-password h1 {
  text-align: center;
  margin: 0;
  padding: 50px 0;
}

.reset-password-input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 650px;
  margin: 0 auto;
}

.reset-password-input-container input {
  font-size: 20px;
  width: 96%;
  margin: 0 auto;
  border: none;
  background-color: var(--input-bg-color);
  padding: 12px 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px,
              rgba(0, 0, 0, 0.05) 0 -12px 30px,
              rgba(0, 0, 0, 0.05) 0 4px 6px,
              rgba(0, 0, 0, 0.05) 0 12px 3px,
              rgba(0, 0, 0, 0.05) 0 -3px 5px;
}

.reset-password-input-container input:focus {
  outline: none;
}

.confirm-password-container {
  position: relative;
  width: 96%;
  margin: 0 auto;
}

.confirm-password-container input {
  width: 100%;
}

.confirm-password-container img {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 28%;
  right: 5%;
}

.confirm-password-container img:hover {
  cursor: pointer;
}

.reset-password-input-container button {
  border: solid 0.5px var(--button-border-color);
  background-color: transparent;
  border-radius: 5px;
  padding: 10px;
  width: 96%;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.5s ease;
}

.reset-password-input-container button:hover {
  background-color: var(--button-bg-hover-color);
  border: solid 0.5px var(--button-border-hover-color);
}

.reset-password-input-container button:active {
  font-size: 1.1em;
}

.reset-password-input-container button:disabled {
  color: var(--button-disabled-color);
  background-color: var(--button-disabled-bg-color);
  cursor: none;
}

.error {
  text-align: center;
  font-size: 0.75rem;
  color: var(--info-color);
  padding: 0 5px;
}
