.sign-up {
  background-color: #343541;
  height: 95vh;
}

.sign-up h1 {
  text-align: center;
  margin: 0;
  padding: 50px 0;
}

.sign-up-input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 650px;
  margin: 0 auto;
}

.sign-up-input-container input {
  font-size: 20px;
  width: 96%;
  margin: 0 auto;
  border: none;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 12px 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px,
              rgba(0, 0, 0, 0.05) 0 -12px 30px,
              rgba(0, 0, 0, 0.05) 0 4px 6px,
              rgba(0, 0, 0, 0.05) 0 12px 3px,
              rgba(0, 0, 0, 0.05) 0 -3px 5px;
}

.sign-up-input-container input:focus {
  outline: none;
}

.sign-up-input-container button {
  border: solid 0.5px rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-radius: 5px;
  padding: 10px;
  width: 96%;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sign-up-input-container button:hover {
  background-color: #444654;
  border: solid 0.5px rgba(255, 255, 255, 0.1);
}

.sign-up-input-container button:active {
  font-size: 1.1em;
}

.sign-in-info {
  display: flex;
  align-items: center;
  width: 96%;
  max-width: 624px;
  gap: 10px;
  margin: 0 auto;
}
